<% content_for(:page_title, 'Start') %>
<h1 class=heading-medium>GOV.UK Verify - Compliance Tool</h1>
<p>The Compliance tool ensures that your service will work correctly with GOV.UK Verify.</p>
<p>
  You can use the compliance tool to test:
  <ul class="list list-bullet">
    <li>a "relying party" (i.e. a government service using Verify)</li>
    <li>a "matching service" (a component that all relying parties need to build)</li>
    <li>an "identity provider" (also known as a certified company)</li>
  </ul>
</p>
<p>You can read more about it <a href="http://alphagov.github.io/rp-onboarding-tech-docs/pages/saml/samlComplianceTool.html">here</a>.</p>

<a class="button button-start" href="/about-your-service" role="button">Start now</a>
