<% content_for(:page_title, 'Start') %>
<h1 class=heading-medium>GOV.UK Verify - Compliance Tool</h1>
<p>The Compliance Tool ensures that your service will work correctly with GOV.UK Verify.</p>
<p>
  You can use the compliance tool to test:
  <ul class="list list-bullet">
    <li>an "identity provider" (also known as a certified company)</li>
  </ul>
</p>

<%= link_to('Start now', which_service_path, class: 'button button-start') %>
