<h1 class="heading-medium">About your Identity Provider</h1>

<p>Sorry, this functionality isn't ready in this user interface yet.</p>

<p>You can still use compliance tool to test your service, but you'll have to interact with it over HTTP.</p>

