<% content_for(:page_title, 'Matching Service 0') %>
<h1 class="heading-medium">About your Matching Service</h1>

<p>Sorry, this functionality isn't ready in this user interface yet.</p>

<p>You can still use compliance tool to test your service, but you'll have to interact with it over HTTP
  as described <a href="http://alphagov.github.io/rp-onboarding-tech-docs/pages/saml/samlComplianceTool.html#samlcthubmsa">here</a>.</p>
