$toolkit-font-stack: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
$toolkit-font-stack-tabular: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;

@import "govuk-elements";

@import "design-patterns/alpha-beta";
@import "elements/phase-banner";

.language-json {
  overflow: auto;
}

#logo {
  visibility: hidden;
}

.field_with_errors {
  input,textarea {
    border: 4px solid $error-colour;
  }
  label {
    color: $error-colour;
  }
}

.form-error {
    color: $error-colour;
    margin-bottom: 5px;
}

.form-control { 
  &.certificate,&.keystore {
    width: 100%;
    font-family: monospace;
  }
  &.certificate {
    min-height: 12em;
  }
}