$toolkit-font-stack: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
$toolkit-font-stack-tabular: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;

@import "govuk-elements";

@import "design-patterns/alpha-beta";
@import "elements/phase-banner";

.language-json {
  overflow: auto;
}

#logo {
  visibility: hidden;
}
